.headerWrapper {
  height: 100vh;
  display: flex;
}

.headerText {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  span {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }

  h1 {
    font-size: 4rem;
  }
}