:root {
  --color-white: #ffffff;
  --color-blackish: #262626;
  --color-burntorange: #de7c21;
  --color-sagegreen: #3b6638;
  --color-grey: #f6f5f4;

  --font-serif: 'Playfair Display', 'Times New Roman', Times, serif;
  --font-sansserif: 'Roboto', 'Arial', sans-serif;
}

.greyBackground {
  background-color: var(--color-grey);
  margin: 4rem 0;
  padding: 4rem 0;
}

.orangeBackground {
  background-color: var(--color-burntorange);
  margin: 4rem 0 0;
  padding: 4rem 0;
  
  h2 {
    color: var(--color-white);

  }
}

.greenText {
  color: var(--color-sagegreen);
}

.orangeText {
  color: var(--color-burntorange);
}

.fullWidthWrapper {
  margin: 0 auto;
}

.maxWidth {
  max-width: 750px;
  margin: 0 auto;
}

.center {
  text-align: center;
  justify-content: center;
}

.flex {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  @media screen and (min-width: 900px){
    flex-direction: row;
    gap: 5rem;
  }
}

.fontFamilySerif {
  font-family: var(--font-serif);
}

.fontWeightNormal {
  font-weight: 400;
}

.mb1 {
  margin-bottom: 1rem;
}

.fullHeightWrapper {
  height: 100vh;
  display: flex;
}

.button {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  border: 2px solid var(--color-sagegreen);
  color: var(--color-sagegreen);
  text-decoration: none;
  padding: .1rem 1.4rem .6rem;
  transition: all 250ms ease-in-out;

  @media screen and (min-width: 900px){
    font-size: 2rem;
  }

  &:after {
    content: "\02197";
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 3px;
    opacity: 0;
    width: 0;
    display: inline-block;
    transition: all 250ms ease-in-out;
  }
  
  &:hover,
  &:focus {
    &:after {
      opacity: 1;
      width: 17px;
    }
  }

  .orangeBackground & {
    border-color: var(--color-white);
    color: var(--color-white);
  }
}

.maxWidth {
  max-width: 650px;
  padding: 0 1rem;

  @media screen and (min-width: 900px){
    padding: 0;
  }
}
