:root {
  --color-white: #ffffff;
  --color-blackish: #262626;
  --color-burntorange: #de7c21;
  --color-sagegreen: #3b6638;
  --color-grey: #f6f5f4;

  --font-serif: 'Playfair Display', 'Times New Roman', Times, serif;
  --font-sansserif: 'Roboto', 'Arial', sans-serif;
}